<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration scan="true" scanPeriod="10 seconds">
	<property name="LOG_PATH" value="/var/roadoor/logs/java/roadoor-gateway" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 按照每天生成日志文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH}/roadoor-gateway.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${LOG_PATH}/roadoor-gateway-%d{yyyy-MM-dd}.log.%i</FileNamePattern>
			<MaxHistory>30</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern>%-15d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80}[%class:%line] - %msg%n</Pattern>
			<charset>UTF-8</charset>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>

	<!-- 按照每天生成日志文件 -->
	<appender name="FILE_MONITOR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH}/roadoor-gateway-monitor.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${LOG_PATH}/roadoor-gateway-monitor-%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%msg%n</Pattern>
			<charset>UTF-8</charset>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.roadoor" level="INFO" />

	<!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
	<logger name="org.springframework" level="INFO" />
	<logger name="org.apache" level="INFO" />
	
	<!-- 配置LoggerFilter的日志输出到单独的文件 -->
	<logger name="com.roadoor.gateway.filter.LoggerFilter" level="INFO">
		<appender-ref ref="FILE_MONITOR" />
	</logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
